<div class="content" role="main">
  <table>
    <tr>
      <th>Név</th>
      <th>Ár</th>
      <th>DB</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of order.items">
      <th>{{item.name}}</th>
      <th>{{item.price}} HUF</th>
      <th>{{item.quantity}}</th>
      <th><a (click)="increase(item._id)">+</a></th>
      <th><a (click)="decrease(item._id)">-</a></th>
      <th><a (click)="remove(item._id)">Törlés</a></th>
    </tr>
  </table>
  <div>
    <label for="name">Név:
      <input id="name" type="text" [(ngModel)]="order.name">
    </label>
  </div>
  <div>
    <label for="address">Cím:
      <input id="address" type="text" [(ngModel)]="order.address">
    </label>
  </div>
  <a (click)="orderItems()">Megrendelés</a>
</div>
